$tablet-portrait: '(min-width: 480px)';
$tablet-landscape: '(min-width: 769px)';
$small-desktop: '(min-width: 1024px)';
$medium-desktop: '(min-width: 1200px)';
$large-desktop: '(min-width: 1400px)';
$xlarge-desktop: '(min-width: 1800px)';
$giant-desktop: '(min-width: 2300px)';
